#r1101164321 .zb-board {
  height: 460px;
  background-color: #fffdf6;
}
#r1101164321 .zb-filter {
  height: 460px;
}
#r1101164321 .zb-bg {
  height: 460px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #r1101164321 .zb-board,
  #r1101164321 .zb-filter,
  #r1101164321 .zb-bg {
    height: 460px;
  }
  #r1101164321 .zb-bg {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 959px) {
  #r1101164321 .zb-board,
  #r1101164321 .zb-filter,
  #r1101164321 .zb-bg {
    height: 450px;
  }
  #r1101164321 .zb-bg {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 639px) {
  #r1101164321 .zb-board,
  #r1101164321 .zb-filter,
  #r1101164321 .zb-bg {
    height: 460px;
  }
  #r1101164321 .zb-bg {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 479px) {
  #r1101164321 .zb-board,
  #r1101164321 .zb-filter,
  #r1101164321 .zb-bg {
    height: 400px;
  }
  #r1101164321 .zb-bg {
    background-attachment: scroll;
  }
}
#r1101164321 .zb-group[data-el="1782282158842000001"] {
  z-index: 3;
  position: absolute;
  top: 30px;
  left: calc(50% - 600px + 320px);
  width: 560px;
  height: 402px;
}
#r1101164321 .zb-group[data-el="1782282158842000001"] .zb-mol[data-mol="1782282158842000001"] {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: visible visible;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0px 0px 0px 0px;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 0px;
  transition:
    background-color var(--zb-speedhover, 0s) ease-in-out,
    color var(--zb-speedhover, 0s) ease-in-out,
    border-color var(--zb-speedhover, 0s) ease-in-out,
    box-shadow var(--zb-shadowshoverspeed, 0.2s) ease-in-out;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  #r1101164321 .zb-group[data-el="1782282158842000001"] .zb-mol[data-mol="1782282158842000001"] {
    gap: 0;
  }
  #r1101164321
    .zb-group[data-el="1782282158842000001"]
    .zb-mol[data-mol="1782282158842000001"]
    > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1199px) {
  #r1101164321 .zb-group[data-el="1782282158842000001"] {
    display: flex;
    left: calc(50% - 480px + 200px);
    height: 402px;
  }
  #r1101164321 .zb-group[data-el="1782282158842000001"] .zb-mol[data-mol="1782282158842000001"] {
    display: flex;
  }
}
@media screen and (max-width: 959px) {
  #r1101164321 .zb-group[data-el="1782282158842000001"] {
    display: flex;
    left: calc(50% - 320px + 40px);
    height: 402px;
  }
  #r1101164321 .zb-group[data-el="1782282158842000001"] .zb-mol[data-mol="1782282158842000001"] {
    display: flex;
  }
}
@media screen and (max-width: 639px) {
  #r1101164321 .zb-group[data-el="1782282158842000001"] {
    display: flex;
    left: calc(50% - 240px + -40px);
    height: 417px;
  }
  #r1101164321 .zb-group[data-el="1782282158842000001"] .zb-mol[data-mol="1782282158842000001"] {
    display: flex;
  }
}
@media screen and (max-width: 479px) {
  #r1101164321 .zb-group[data-el="1782282158842000001"] {
    display: flex;
    left: calc(50% - 160px + -120px);
    height: 358px;
  }
  #r1101164321 .zb-group[data-el="1782282158842000001"] .zb-mol[data-mol="1782282158842000001"] {
    display: flex;
  }
}
#r1101164321 .zb-el[data-el="1749838991888"] {
  z-index: 3;
  top: 255px;
  left: 185px;
  width: 191px;
  flex-shrink: 0;
  height: auto;
  margin: -30px 0 0 0;
}
#r1101164321 .zb-el[data-el="1749838991888"] .zb-atom {
  border-radius: 0px 0px 0px 0px;
  background-position: center center;
  border-width: var(--zb-borderwidth, 0);
  border-style: var(--zb-borderstyle, solid);
  border-color: var(--zb-bordercolor, transparent);
  transition:
    background-color var(--zb-speedhover, 0s) ease-in-out,
    color var(--zb-speedhover, 0s) ease-in-out,
    border-color var(--zb-speedhover, 0s) ease-in-out,
    box-shadow var(--zb-shadowshoverspeed, 0.2s) ease-in-out;
}
#r1101164321 .zb-el[data-el="1749838991888"] .zb-atom__img {
  border-radius: 0px 0px 0px 0px;
  object-position: center center;
}
@media screen and (max-width: 1199px) {
  #r1101164321 .zb-el[data-el="1749838991888"] {
    display: table;
    left: 185px;
    height: auto;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 959px) {
  #r1101164321 .zb-el[data-el="1749838991888"] {
    display: table;
    left: 185px;
    height: auto;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 639px) {
  #r1101164321 .zb-el[data-el="1749838991888"] {
    display: table;
    left: 175px;
    width: 211px;
    height: auto;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 479px) {
  #r1101164321 .zb-el[data-el="1749838991888"] {
    display: table;
    left: 187px;
    width: 186px;
    height: auto;
    flex-shrink: 0;
  }
}
#r1101164321 .zb-el[data-el="1749838197979"] {
  z-index: 3;
  top: 160px;
  left: 0px;
  width: 560px;
  flex-shrink: 0;
  height: 105px;
  margin: 0 0 0 0;
}
#r1101164321 .zb-el[data-el="1749838197979"] .zb-atom {
  background-position: center center;
  border-width: var(--zb-borderwidth, 0);
  border-style: var(--zb-borderstyle, solid);
  border-color: var(--zb-bordercolor, transparent);
  transition:
    background-color var(--zb-speedhover, 0s) ease-in-out,
    color var(--zb-speedhover, 0s) ease-in-out,
    border-color var(--zb-speedhover, 0s) ease-in-out,
    box-shadow var(--zb-shadowshoverspeed, 0.2s) ease-in-out;
}
@media screen and (max-width: 1199px) {
  #r1101164321 .zb-el[data-el="1749838197979"] {
    display: table;
    left: 0px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 959px) {
  #r1101164321 .zb-el[data-el="1749838197979"] {
    display: table;
    left: 0px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 639px) {
  #r1101164321 .zb-el[data-el="1749838197979"] {
    display: table;
    left: 0px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 479px) {
  #r1101164321 .zb-el[data-el="1749838197979"] {
    display: table;
    left: 0px;
    flex-shrink: 0;
  }
}
#r1101164321 .zb-el[data-el="1782896351373000002"] {
  color: #112250;
  text-align: center;
  z-index: 3;
  top: 55px;
  left: 169px;
  width: auto;
  flex-shrink: 0;
  height: auto;
  margin: 0 0 10px 0;
}
#r1101164321 .zb-el[data-el="1782896351373000002"] .zb-atom {
  vertical-align: middle;
  white-space: nowrap;
  color: #112250;
  font-size: 75px;
  font-family: var(--t-text-font, Arial);
  line-height: 1;
  font-weight: 800;
  background-position: center center;
  border-width: var(--zb-borderwidth, 0);
  border-style: var(--zb-borderstyle, solid);
  border-color: var(--zb-bordercolor, transparent);
  transition:
    background-color var(--zb-speedhover, 0s) ease-in-out,
    color var(--zb-speedhover, 0s) ease-in-out,
    border-color var(--zb-speedhover, 0s) ease-in-out,
    box-shadow var(--zb-shadowshoverspeed, 0.2s) ease-in-out;
  --zb-shadow-text-opacity: 100%;
  text-shadow: var(--zb-shadow-text-x, 0px) var(--zb-shadow-text-y, 0px)
    var(--zb-shadow-text-blur, 0px)
    rgba(var(--zb-shadow-text-color), var(--zb-shadow-text-opacity, 100%));
}
@media screen and (max-width: 1199px) {
  #r1101164321 .zb-el[data-el="1782896351373000002"] {
    display: table;
    left: 169px;
    width: auto;
    height: auto;
    flex-shrink: 0;
  }
  #r1101164321 .zb-el[data-el="1782896351373000002"] .zb-atom {
    white-space: nowrap;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #r1101164321 .zb-el[data-el="1782896351373000002"] {
    display: table;
    left: 169px;
    width: auto;
    height: auto;
    flex-shrink: 0;
  }
  #r1101164321 .zb-el[data-el="1782896351373000002"] .zb-atom {
    white-space: nowrap;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #r1101164321 .zb-el[data-el="1782896351373000002"] {
    display: table;
    left: 169px;
    width: auto;
    height: auto;
    flex-shrink: 0;
  }
  #r1101164321 .zb-el[data-el="1782896351373000002"] .zb-atom {
    white-space: nowrap;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #r1101164321 .zb-el[data-el="1782896351373000002"] {
    display: table;
    left: 199px;
    width: auto;
    height: auto;
    flex-shrink: 0;
  }
  #r1101164321 .zb-el[data-el="1782896351373000002"] .zb-atom {
    white-space: nowrap;
    font-size: 55px;
    background-size: cover;
  }
}
#r1101164321 .zb-el[data-el="1782896298414000001"] {
  color: #112250;
  text-align: center;
  z-index: 3;
  top: 0px;
  left: 135px;
  width: auto;
  flex-shrink: 0;
  height: auto;
  margin: 0 0 -40px 0;
}
#r1101164321 .zb-el[data-el="1782896298414000001"] .zb-atom {
  vertical-align: middle;
  white-space: nowrap;
  color: #112250;
  font-size: 75px;
  font-family: var(--t-text-font, Arial);
  line-height: 1;
  font-weight: 800;
  background-position: center center;
  border-width: var(--zb-borderwidth, 0);
  border-style: var(--zb-borderstyle, solid);
  border-color: var(--zb-bordercolor, transparent);
  transition:
    background-color var(--zb-speedhover, 0s) ease-in-out,
    color var(--zb-speedhover, 0s) ease-in-out,
    border-color var(--zb-speedhover, 0s) ease-in-out,
    box-shadow var(--zb-shadowshoverspeed, 0.2s) ease-in-out;
  --zb-shadow-text-opacity: 100%;
  text-shadow: var(--zb-shadow-text-x, 0px) var(--zb-shadow-text-y, 0px)
    var(--zb-shadow-text-blur, 0px)
    rgba(var(--zb-shadow-text-color), var(--zb-shadow-text-opacity, 100%));
}
@media screen and (max-width: 1199px) {
  #r1101164321 .zb-el[data-el="1782896298414000001"] {
    display: table;
    left: 135px;
    width: auto;
    height: auto;
    flex-shrink: 0;
  }
  #r1101164321 .zb-el[data-el="1782896298414000001"] .zb-atom {
    white-space: nowrap;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #r1101164321 .zb-el[data-el="1782896298414000001"] {
    display: table;
    left: 135px;
    width: auto;
    height: auto;
    flex-shrink: 0;
  }
  #r1101164321 .zb-el[data-el="1782896298414000001"] .zb-atom {
    white-space: nowrap;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #r1101164321 .zb-el[data-el="1782896298414000001"] {
    display: table;
    left: 135px;
    width: auto;
    height: auto;
    flex-shrink: 0;
  }
  #r1101164321 .zb-el[data-el="1782896298414000001"] .zb-atom {
    white-space: nowrap;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #r1101164321 .zb-el[data-el="1782896298414000001"] {
    display: table;
    left: 174px;
    width: auto;
    height: auto;
    flex-shrink: 0;
  }
  #r1101164321 .zb-el[data-el="1782896298414000001"] .zb-atom {
    white-space: nowrap;
    font-size: 55px;
    background-size: cover;
  }
}
